.centering {
  text-align: center;
}

.middle {
  width: 50%;
  max-width: 800px;
  min-width: 500px;
  margin: 10px auto;
}

.well p {
  margin-bottom: 0px;
}

p, h1, button {
  font-family: 'Open Sans', sans-serif;
}